<!DOCTYPE html>
<html>

<head>
	<title>Node YT</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="../assets/bootstrap.min.css">

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="../assets/androidjs.js"></script>
</head>

<style>
	.app {
		font-size: 30px;
	}
</style>

<body>

	<div id="audiobox">
		<audio id="audio" controls="controls"></audio>
	</div>

	Video ID:<br>
	<input id='id-input' type='text' name='ID'><br>
	<button onclick="stream()">Stream</button>

	<script type="text/javascript" src="../assets/script.js"></script>
	<script src="../assets/jquery-3.3.1.slim.min.js"></script>
	<script src="../assets/popper.min.js"></script>
	<script src="../assets/bootstrap.min.js"></script>
	<script src="./front.js"></script>
	<script>

	</script>
</body>

</html>